.mainContainer {
    height: 100vh;
    background-color: white;
    display: grid;
    // width: 100vw;
    place-content: center;
    align-items: center;
    font-family: poppins;

    .buttonContainer {
        height: 3vw;
        background-color: white;

        .buttonDiv {
            display: flex;
            gap: 1vw;


            button {
                height: 3vw;
                width: 3vw;
                border-radius: 50%;
                border-color: #c9c5c5;
                border-style: solid;

                p {
                    font-size: 1.2vw;
                }
            }
        }


    }

    .mainContent {
        // margin:0;
        // background-color: pink;
        // padding: 0;
        display: flex;
        width: 100%;
        // gap:4vw;

        .content1 {
            height: 30vw;
            width: 42.3vw;
            // background-color: pink;

            img {
                height: 42.3vw;
                width: 42.3vw;
                // width: 100%;
                // width: 60vw;
            }
        }

        .content2 {
            height: 42.6vw;
            width: 50vw;
            display: grid;
            place-content: center;
            gap: 1vw;
            align-items: center;
            background-color: white;

            h1 {
                text-align: center;
            }

            .btn1 {
                height: 3vw;
                border-radius: 1.5vw;
                width: 25vw;
                background-color: #f7f4f4;
                border-color: #c9c5c5;
                border-style: solid;
                border-width: 0.1vw;
                color: gray;
                font-family: "poppins";
                font-size: 1vw;
                // border-width: ;
            }

            .line {
                display: flex;
                height: 0.1vw;
                justify-content: center;
                align-items: center;
                gap: 1vw;

                p {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    ;
                }

                hr {
                    width: 10vw;
                    color: gray;
                    margin: 0;
                    padding: 0;
                    ;
                }
            }

            .btn2 {
                height: 3vw;
                border-radius: 1.5vw;
                width: 25vw;
                background-color: red;
                border-color: red;
                border-style: solid;
                font-size: 1vw;
                border-width: 0.1vw;
                color: white;
            }

            // background-color: red;
        }

    }
}