.mainContainer {
    // display: grid;
    height: 100%;
    margin: 0;
    padding: 0;

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin:0;
        // padding:0;
        background-color: green;
        padding-left: 1vw;
        padding-right: 1vw;
        height: 3vw;
        // flex-direction: column;
        gap: 10px;
        color: black;

        h1 {
            font-size: 1.2vw;
            font-weight: 600;
            margin: 0;
        }

        .hindi,
        .malayalam,
        .bengali,
        .telugu,
        .marathi,
        .gujarati,
        .tamil,
        .kannada,
        .punjabi,
        .urdu,
        .oriya,
        .assamese {
            color: inherit;
            text-decoration: none;
        }

        p {
            cursor: pointer;
        }
    }

    .searchBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap:40vw;
        padding-left: 5vw;
        padding-right: 3vw;
        // background-color: red;

        .searchInput {
            display: flex;
            align-items: center;
            gap: 1vw;
            width: 30vw;

            .searchIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22vw;
                background-color: white;
                border-color: black;
                border-style: solid;
                border-width: 1px;
                height: 2.8vw;
                // background-color: white;
                border-radius: 0.3vw;
                // cursor: pointer;

                // input {
                //     border: none;
                //     width: 17vw;
                //     outline: none;
                // }

                input {
                    width: 20vw;
                    height: 1.7vw;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    padding: 0.5vw;
                    font-size: 1vw;
                    border: none;
                    width: 17vw;
                    outline: none;
                }

                svg {
                    width: 1.5vw;
                    height: 1.5vw;
                    fill: black;
                }
            }

        }


        select {
            height: 2.5vw;
            width: 8vw;
            border-radius: 5px;
            border: none;
            text-align: center;
            background-color: green;
            color: white;
            font-size: 1vw;
            padding: 0.5vw;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;



            &:hover {
                background-color: rgb(1, 115, 1);
            }
        }
    }
}